body {
  background-repeat: repeat-x;
  background-color: #eff4f7;
}
html, body, h2 {
  margin: 0px;
  padding: 0px;
}
body, textarea, input {
  font-size: 12px;
  font-family: Verdana, Helvetica, Arial, sans-serif;
  color: #2d2b3d;
}

h1, p {
  padding: 0px 50px 0px 50px;
}

.login_box {
  width: 310px;
  padding: 50px 50px 50px 50px;
}

.login_row_label {
  float: left;
  width: 100px;
}

.login_row_input {
  float: left;
  width: 200px;
}


